
body {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(47, 60, 252));
    background-repeat: no-repeat;
    background-size: auto;
    height: 1000px;
    justify-items: center;
}


#form {
    width: 50%;
}

#hero-img {
    height: 100px;
    width: 260px;
}

#card-img {
    border: solid 3px black;
    background-image: linear-gradient(rgb(175, 175, 175), rgb(248, 248, 248));
    width: 20rem;
    height: 14rem;
    padding: 5px;
}

#pokemon-card {
    /* border: solid 3px black; */
    background-color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 20rem;
    height: 30rem;
    border-radius: 8%;
    margin-bottom: 50px;
}

#pokemon-name {
    text-transform: capitalize;
}

#pokemon-type {
    text-transform: capitalize;
}